*{ 
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient( 120deg, #520538, #090f64);
}

.bloco{
    width: 70vw;
    height: 100vh;
    border: 1px solid;
    border-radius: 20px;
    background: linear-gradient(to right, #e7c5ff, #a9d4fd, #ce3981);
    background-size: 180% 180%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

img{
 
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.logo_div{
   margin-top: 50px; 
   height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sub_titulo{

    position: relative;
    top: 60px;
    color: rgb(46, 43, 43);
    font-size: larger;
}

.titulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;

}

.input1{
    position: relative;
    top: 70px;
    left: 40px;
    margin-bottom: 20px;
}

.buttond{
    position: relative;
    top: 90px;
}
#FullName{
    height: 2rem;
    width: 26rem;
    border: 2px solid transparent;
    border-radius: 12px;
    margin-bottom: 60px;
    padding-left: 5px;

}

.add_technologies{

    margin-bottom: 10px;
    margin-left: 9px;
    align-items: center;
    color: aliceblue;
    background-color: #b32067;
    border-radius: 9px;
    border: 5px solid transparent;
    height: 40px;
    width: 240px;
}

.register{
    margin-bottom: 100px;
    margin-left: 60px;
    color: aliceblue;
    background-color: #571edd;
    border-radius: 9px;
    border: 5px solid transparent;
    height: 40px;
    width: 150px;
}

#area_de_cadastro{

    border: 2px solid black;
    margin-bottom: 30px;
    min-height: 150px;
    max-height: 150px;
    
}

.section_element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}